[submodule "FullDevLekce1"]
	path = FullDevLekce1
	url = https://github.com/nightguarder/FullDevLekce1.git
[submodule "guestbook-app-local"]
	path = guestbook-app-local
	url = https://github.com/nightguarder/guestbook-app-local.git
[submodule "FullDevLekce2"]
	path = FullDevLekce2
	url = git@github.com:nightguarder/FullDevLekce2.git
[submodule "FullDevLekce3"]
	path = FullDevLekce3
	url = git@github.com:nightguarder/FullDevLekce3.git
[submodule "FullDevLekce5"]
	path = FullDevLekce5
	url = git@github.com:nightguarder/FullDevLekce5.git
[submodule "FullDevLekce4"]
	path = FullDevLekce4
	url = git@github.com:nightguarder/FullDevLekce4.git
[submodule "FullDevLekce6"]
	path = FullDevLekce6
	url = git@github.com:nightguarder/FullDevLekce6.git
